<head>
	<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<!-- Toolbar -->
<div class="toolbar" role="banner">
	<img width="40" alt="Sky Logo" src="../assets/img/sky_logo.png" />
	<span>Welcome to Sky Sports' Scouting App</span>
</div>

<div class="content container" role="main">

	<!-- Initial Options -->
	<div class="row justify-content-md-center" *ngIf="!matchIsLoaded; else matchInfo">
		<div class="col-sm-5">
			<span class="has-float-label">
				<label><b>Match ID</b></label>
				<input class="form-control" [(ngModel)]="matchId" type="text"/>
			</span>
		</div>
		<div class="col-sm-2">
			<button class="btn btn-info" (click)="loadMatch()" [disabled]="matchId === undefined || matchId === ''">Go</button>
		</div>
	</div>

	<!-- Game Scorecard  -->
	<ng-template #matchInfo>
		<div class="row justify-content-md-center text-center"> 
			<!-- GAME CLOCK-->
			<div class="col col-lg-1">
				<button (click)="toggleTimer()" class="btn btn-info" [disabled]="gameTime === 60*90">{{clockText}}</button>
			</div>
			<div class="col col-lg-2"><button class="form-control" (click)=setTimer(0)>Reset Timer</button></div>
			<div class="col col-lg-2"><button class="form-control" (click)=setTimer(30)>Set timer to 30min</button></div>
			<div class="col col-lg-2">
				<h1>
					<app-clock [timeInSeconds]="gameTime"></app-clock>
				</h1>
			</div>
			<div class="col col-lg-5">
				<div class="row">
					<div class="col-md-6"><button class="form-control" (click)=setTimer(60)>Set timer to 60min</button></div>
					<div class="col-md-6"><button class="form-control" (click)=setTimer(75)>Set timer to 75min</button></div>
				</div>
			</div>


			<div class="col col-lg-5">
				<app-team-score teamName="Home Team" [side]=1 [penalties]="scoreClock.data.penalties"
					(updateScore)="updateScore($event, 1)"
					(updateEmptyGoal)="updateEmptyGoal($event, 1)"
					(updatePenalty)="updatePenalty($event)"></app-team-score>
			</div>
			<div class="col-lg-2">
				<div class="row">
					<div class="col-sm-12"><hr></div>
					<div class="col-sm-12"><h1>x</h1></div>
				</div>
				
			</div>
			<div class="col col-lg-5">
				<app-team-score teamName="Away Team" [side]=2 [penalties]="scoreClock.data.penalties"
					(updateScore)="updateScore($event, 2)"
					(updateEmptyGoal)="updateEmptyGoal($event, 2)"
					(updatePenalty)="updatePenalty($event)"></app-team-score>
			</div>
		</div>
	</ng-template>